In [ ]:
import yfinance as yf
import pandas as pd
import requests
import matplotlib.pyplot as plt
from datetime import datetime
import time
import csv

# Telegram config (disabled for notebook testing)
BOT_TOKEN = "8120831257:AAHR4QZyDRyH6Am0bK6OhDiJUPyqc-PCitU"
CHAT_ID = "940705270"

In [2]:
def send_telegram_message(message):
    url = f"https://api.telegram.org/bot{BOT_TOKEN}/sendMessage"
    payload = {
        "chat_id": CHAT_ID,
        "text": message
    }
    try:
        response = requests.post(url, data=payload)
        return response.status_code == 200
    except:
        return False

In [3]:
def log_signal(ticker, signal, price):
    with open("trade_signals_log.csv", "a", newline="") as f:
        writer = csv.writer(f)
        writer.writerow([datetime.now(), ticker, signal, price])
    print(f"üìù Logged: {ticker} | {signal} | ‚Çπ{price:.2f}")

In [4]:
def fetch_intraday_data(ticker):
    print(f"üîç Fetching data for {ticker}...")
    df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)
    df.dropna(inplace=True)
    print(f"‚úÖ {ticker} data shape: {df.shape}")
    display(df.tail(5))
    return df

In [5]:
def add_indicators(df):
    df = df.copy()

    # EMA
    df["EMA_20"] = df["Close"].ewm(span=20, adjust=False).mean()

    # RSI
    delta = df["Close"].diff()
    gain = delta.where(delta > 0, 0)
    loss = -delta.where(delta < 0, 0)
    avg_gain = gain.rolling(window=14).mean()
    avg_loss = loss.rolling(window=14).mean()
    rs = avg_gain / avg_loss
    df["RSI"] = 100 - (100 / (1 + rs))

    # MACD
    ema12 = df["Close"].ewm(span=12, adjust=False).mean()
    ema26 = df["Close"].ewm(span=26, adjust=False).mean()
    df["MACD"] = ema12 - ema26
    df["MACD_signal"] = df["MACD"].ewm(span=9, adjust=False).mean()

    df.dropna(inplace=True)
    print("üìä Basic indicators added.")
    display(df.tail(5))
    return df

In [6]:
def add_advanced_indicators(df):
    df = df.copy()

    df["VWAP"] = (df["Volume"] * (df["High"] + df["Low"] + df["Close"]) / 3).cumsum() / df["Volume"].cumsum()

    # Bollinger Bands
    df["BB_MID"] = df["Close"].rolling(window=20).mean()
    df["BB_STD"] = df["Close"].rolling(window=20).std()
    df["BB_UPPER"] = df["BB_MID"] + 2 * df["BB_STD"]
    df["BB_LOWER"] = df["BB_MID"] - 2 * df["BB_STD"]

    # ATR
    df["H-L"] = df["High"] - df["Low"]
    df["H-PC"] = abs(df["High"] - df["Close"].shift())
    df["L-PC"] = abs(df["Low"] - df["Close"].shift())
    df["TR"] = df[["H-L", "H-PC", "L-PC"]].max(axis=1)
    df["ATR"] = df["TR"].rolling(window=14).mean()
    df.drop(["H-L", "H-PC", "L-PC", "TR"], axis=1, inplace=True)

    df.dropna(inplace=True)
    print("üî¨ Advanced indicators added.")
    display(df.tail(5))
    return df

In [7]:
def generate_advanced_signal(df):
    if len(df) < 2:
        return "HOLD", None

    last = df.iloc[[-1]]  # Keep as DataFrame to support .iloc[0]
    prev = df.iloc[[-2]]

    try:
        rsi = float(last["RSI"].iloc[0])
        macd = float(last["MACD"].iloc[0])
        macd_sig = float(last["MACD_signal"].iloc[0])
        price = float(last["Close"].iloc[0])
        vwap = float(last["VWAP"].iloc[0])

        # Relaxed condition for testing
        if rsi < 45 and macd > macd_sig and price < vwap:
            return "BUY", price
        elif rsi > 60 and macd < macd_sig and price > vwap:
            return "SELL", price
        return "HOLD", price

    except Exception as e:
        print("‚ö†Ô∏è Signal error:", e)
        return "HOLD", None

In [9]:
# List of volatile tickers
tickers = [
    "RELIANCE.NS", "TCS.NS", "INFY.NS", "HDFCBANK.NS", "ICICIBANK.NS",
    "SBIN.NS", "AXISBANK.NS", "KOTAKBANK.NS", "ITC.NS", "HINDUNILVR.NS",
    "LT.NS", "BAJFINANCE.NS", "ADANIENT.NS", "ADANIGREEN.NS", "WIPRO.NS",
    "POWERGRID.NS", "ONGC.NS", "ULTRACEMCO.NS", "ASIANPAINT.NS", "MARUTI.NS"
]


all_signals = []  # For Telegram summary

for ticker in tickers:
    try:
        print(f"\nüîç Fetching: {ticker}")
        df = fetch_intraday_data(ticker)
        df = add_indicators(df)
        df = add_advanced_indicators(df)

        df.to_csv(f"{ticker}_indicators.csv")
        print(f"üíæ Saved {ticker}_indicators.csv")

        signal, price = generate_advanced_signal(df)

        if price:
            signal_msg = f"{signal} signal for {ticker} at ‚Çπ{price:.2f}"
        else:
            signal_msg = f"{signal} signal for {ticker} (price N/A)"

        print(signal_msg)
        all_signals.append(signal_msg)

        log_signal(ticker, signal, price)

    except Exception as e:
        error_msg = f"‚ùå Error for {ticker}: {e}"
        print(error_msg)
        all_signals.append(error_msg)

# Send all results in one combined message
final_msg = "üì° Signal Summary:\n\n" + "\n".join(all_signals)
send_telegram_message(final_msg)

üîç Fetching: RELIANCE.NS
üîç Fetching data for RELIANCE.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ RELIANCE.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,1409.800049,1410.500000,1409.199951,1409.400024,48569
2025-07-30 09:56:00+00:00,1410.099976,1410.900024,1409.199951,1409.800049,43881
2025-07-30 09:57:00+00:00,1410.500000,1411.000000,1410.199951,1410.199951,40870
2025-07-30 09:58:00+00:00,1411.099976,1412.099976,1410.099976,1411.000000,33653
2025-07-30 09:59:00+00:00,1411.000000,1411.199951,1409.199951,1410.500000,8472

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,1409.800049,1410.500000,1409.199951,1409.400024,48569,1409.622467,66.666667,-0.584690,-0.734970
2025-07-30 09:56:00+00:00,1410.099976,1410.900024,1409.199951,1409.800049,43881,1409.667944,63.157726,-0.478455,-0.683667
2025-07-30 09:57:00+00:00,1410.500000,1411.000000,1410.199951,1410.199951,40870,1409.747187,68.292247,-0.357859,-0.618506
2025-07-30 09:58:00+00:00,1411.099976,1412.099976,1410.099976,1411.000000,33653,1409.876024,71.110810,-0.211436,-0.537092
2025-07-30 09:59:00+00:00,1411.000000,1411.199951,1409.199951,1410.500000,8472,1409.983070,71.110810,-0.102283,-0.450130

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,RELIANCE.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,1409.800049,1410.500000,1409.199951,1409.400024,48569,1409.622467,66.666667,-0.584690,-0.734970,1410.893309,1409.424994,0.814256,1411.053505,1407.796483,0.771423
2025-07-30 09:56:00+00:00,1410.099976,1410.900024,1409.199951,1409.800049,43881,1409.667944,63.157726,-0.478455,-0.683667,1410.887717,1409.374994,0.732597,1410.840188,1407.909800,0.814287
2025-07-30 09:57:00+00:00,1410.500000,1411.000000,1410.199951,1410.199951,40870,1409.747187,68.292247,-0.357859,-0.618506,1410.885706,1409.339996,0.653249,1410.646494,1408.033499,0.864293
2025-07-30 09:58:00+00:00,1411.099976,1412.099976,1410.099976,1411.000000,33653,1409.876024,71.110810,-0.211436,-0.537092,1410.886805,1409.344995,0.666861,1410.678716,1408.011274,0.964294
2025-07-30 09:59:00+00:00,1411.000000,1411.199951,1409.199951,1410.500000,8472,1409.983070,71.110810,-0.102283,-0.450130,1410.886263,1409.414996,0.761763,1410.938523,1407.891470,1.057146

üíæ Saved RELIANCE.NS_indicators.csv
HOLD signal for RELIANCE.NS at ‚Çπ1411.00
üìù Logged: RELIANCE.NS | HOLD | ‚Çπ1411.00

üîç Fetching: TCS.NS
üîç Fetching data for TCS.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ TCS.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,TCS.NS,TCS.NS,TCS.NS,TCS.NS,TCS.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,3052.399902,3052.600098,3052.399902,3052.500000,10441
2025-07-30 09:56:00+00:00,3052.199951,3052.500000,3052.000000,3052.500000,16323
2025-07-30 09:57:00+00:00,3051.800049,3052.100098,3051.600098,3052.000000,12696
2025-07-30 09:58:00+00:00,3051.500000,3051.800049,3051.500000,3051.800049,10877
2025-07-30 09:59:00+00:00,3052.000000,3052.000000,3050.000000,3051.600098,17283

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,TCS.NS,TCS.NS,TCS.NS,TCS.NS,TCS.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,3052.399902,3052.600098,3052.399902,3052.500000,10441,3053.228415,39.682232,-1.078124,-1.289255
2025-07-30 09:56:00+00:00,3052.199951,3052.500000,3052.000000,3052.500000,16323,3053.130466,48.077375,-1.033971,-1.238198
2025-07-30 09:57:00+00:00,3051.800049,3052.100098,3051.600098,3052.000000,12696,3053.003759,47.169377,-1.019496,-1.194458
2025-07-30 09:58:00+00:00,3051.500000,3051.800049,3051.500000,3051.800049,10877,3052.860544,36.734592,-1.020473,-1.159661
2025-07-30 09:59:00+00:00,3052.000000,3052.000000,3050.000000,3051.600098,17283,3052.778588,40.384977,-0.969723,-1.121673

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,TCS.NS,TCS.NS,TCS.NS,TCS.NS,TCS.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,3052.399902,3052.600098,3052.399902,3052.500000,10441,3053.228415,39.682232,-1.078124,-1.289255,3059.017745,3052.995007,1.355881,3055.706769,3050.283245,0.664324
2025-07-30 09:56:00+00:00,3052.199951,3052.500000,3052.000000,3052.500000,16323,3053.130466,48.077375,-1.033971,-1.238198,3058.976033,3052.760010,1.005492,3054.770995,3050.749025,0.607178
2025-07-30 09:57:00+00:00,3051.800049,3052.100098,3051.600098,3052.000000,12696,3053.003759,47.169377,-1.019496,-1.194458,3058.942039,3052.595007,0.861769,3054.318546,3050.871469,0.571446
2025-07-30 09:58:00+00:00,3051.500000,3051.800049,3051.500000,3051.800049,10877,3052.860544,36.734592,-1.020473,-1.159661,3058.912224,3052.465002,0.817763,3054.100529,3050.829476,0.507150
2025-07-30 09:59:00+00:00,3052.000000,3052.000000,3050.000000,3051.600098,17283,3052.778588,40.384977,-0.969723,-1.121673,3058.863634,3052.334998,0.649922,3053.634841,3051.035154,0.614293

üíæ Saved TCS.NS_indicators.csv
BUY signal for TCS.NS at ‚Çπ3052.00
üìù Logged: TCS.NS | BUY | ‚Çπ3052.00

üîç Fetching: INFY.NS
üîç Fetching data for INFY.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ INFY.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,INFY.NS,INFY.NS,INFY.NS,INFY.NS,INFY.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,1518.400024,1518.599976,1517.500000,1517.900024,31423
2025-07-30 09:56:00+00:00,1517.000000,1518.500000,1516.599976,1518.500000,28406
2025-07-30 09:57:00+00:00,1516.699951,1517.300049,1516.300049,1517.000000,27058
2025-07-30 09:58:00+00:00,1517.300049,1517.400024,1517.099976,1517.199951,10136
2025-07-30 09:59:00+00:00,1518.000000,1518.000000,1517.099976,1517.400024,9389

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,INFY.NS,INFY.NS,INFY.NS,INFY.NS,INFY.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,1518.400024,1518.599976,1517.500000,1517.900024,31423,1518.992023,44.068112,-0.175472,-0.073668
2025-07-30 09:56:00+00:00,1517.000000,1518.500000,1516.599976,1518.500000,28406,1518.802306,37.142508,-0.311168,-0.121168
2025-07-30 09:57:00+00:00,1516.699951,1517.300049,1516.300049,1517.000000,27058,1518.602082,33.802696,-0.437872,-0.184509
2025-07-30 09:58:00+00:00,1517.300049,1517.400024,1517.099976,1517.199951,10136,1518.478079,39.474149,-0.484280,-0.244463
2025-07-30 09:59:00+00:00,1518.000000,1518.000000,1517.099976,1517.400024,9389,1518.432547,42.500534,-0.459284,-0.287427

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,INFY.NS,INFY.NS,INFY.NS,INFY.NS,INFY.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,1518.400024,1518.599976,1517.500000,1517.900024,31423,1518.992023,44.068112,-0.175472,-0.073668,1515.323824,1519.114996,0.508112,1520.131221,1518.098772,0.828578
2025-07-30 09:56:00+00:00,1517.000000,1518.500000,1516.599976,1518.500000,28406,1518.802306,37.142508,-0.311168,-0.121168,1515.334618,1518.969995,0.662603,1520.295202,1517.644789,0.907157
2025-07-30 09:57:00+00:00,1516.699951,1517.300049,1516.300049,1517.000000,27058,1518.602082,33.802696,-0.437872,-0.184509,1515.341790,1518.794995,0.773564,1520.342123,1517.247867,0.907157
2025-07-30 09:58:00+00:00,1517.300049,1517.400024,1517.099976,1517.199951,10136,1518.478079,39.474149,-0.484280,-0.244463,1515.345394,1518.709998,0.840362,1520.390722,1517.029273,0.935730
2025-07-30 09:59:00+00:00,1518.000000,1518.000000,1517.099976,1517.400024,9389,1518.432547,42.500534,-0.459284,-0.287427,1515.349471,1518.639996,0.838166,1520.316329,1516.963664,0.942871

üíæ Saved INFY.NS_indicators.csv
HOLD signal for INFY.NS at ‚Çπ1518.00
üìù Logged: INFY.NS | HOLD | ‚Çπ1518.00

üîç Fetching: HDFCBANK.NS
üîç Fetching data for HDFCBANK.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ HDFCBANK.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,2024.599976,2024.699951,2024.300049,2024.599976,31733
2025-07-30 09:56:00+00:00,2024.699951,2025.099976,2024.000000,2024.300049,38681
2025-07-30 09:57:00+00:00,2025.000000,2025.000000,2023.500000,2024.699951,52873
2025-07-30 09:58:00+00:00,2024.099976,2025.099976,2024.000000,2025.000000,82003
2025-07-30 09:59:00+00:00,2024.500000,2025.800049,2023.500000,2024.900024,12228

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,2024.599976,2024.699951,2024.300049,2024.599976,31733,2025.444601,37.837749,-0.406600,-0.312711
2025-07-30 09:56:00+00:00,2024.699951,2025.099976,2024.000000,2024.300049,38681,2025.373682,34.284319,-0.414290,-0.333026
2025-07-30 09:57:00+00:00,2025.000000,2025.000000,2023.500000,2024.699951,52873,2025.338093,45.453873,-0.391657,-0.344753
2025-07-30 09:58:00+00:00,2024.099976,2025.099976,2024.000000,2025.000000,82003,2025.220177,35.713663,-0.441259,-0.364054
2025-07-30 09:59:00+00:00,2024.500000,2025.800049,2023.500000,2024.900024,12228,2025.151589,37.210095,-0.443181,-0.379879

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,HDFCBANK.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,2024.599976,2024.699951,2024.300049,2024.599976,31733,2025.444601,37.837749,-0.406600,-0.312711,2023.556292,2025.454993,0.602164,2026.659320,2024.250665,0.571437
2025-07-30 09:56:00+00:00,2024.699951,2025.099976,2024.000000,2024.300049,38681,2025.373682,34.284319,-0.414290,-0.333026,2023.562760,2025.329993,0.464652,2026.259297,2024.400688,0.628575
2025-07-30 09:57:00+00:00,2025.000000,2025.000000,2023.500000,2024.699951,52873,2025.338093,45.453873,-0.391657,-0.344753,2023.570634,2025.269995,0.421913,2026.113822,2024.426169,0.700003
2025-07-30 09:58:00+00:00,2024.099976,2025.099976,2024.000000,2025.000000,82003,2025.220177,35.713663,-0.441259,-0.364054,2023.581301,2025.189996,0.483316,2026.156628,2024.223364,0.757141
2025-07-30 09:59:00+00:00,2024.500000,2025.800049,2023.500000,2024.900024,12228,2025.151589,37.210095,-0.443181,-0.379879,2023.583251,2025.154999,0.507304,2026.169607,2024.140391,0.885716

üíæ Saved HDFCBANK.NS_indicators.csv
HOLD signal for HDFCBANK.NS at ‚Çπ2024.50
üìù Logged: HDFCBANK.NS | HOLD | ‚Çπ2024.50

üîç Fetching: ICICIBANK.NS
üîç Fetching data for ICICIBANK.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ ICICIBANK.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,ICICIBANK.NS,ICICIBANK.NS,ICICIBANK.NS,ICICIBANK.NS,ICICIBANK.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,1482.500000,1482.800049,1481.900024,1481.900024,66910
2025-07-30 09:56:00+00:00,1481.800049,1482.800049,1481.599976,1482.800049,50618
2025-07-30 09:57:00+00:00,1481.199951,1482.599976,1481.099976,1481.699951,62916
2025-07-30 09:58:00+00:00,1481.599976,1481.900024,1481.099976,1481.400024,31351
2025-07-30 09:59:00+00:00,1482.400024,1482.400024,1480.099976,1481.699951,32333

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,ICICIBANK.NS,ICICIBANK.NS,ICICIBANK.NS,ICICIBANK.NS,ICICIBANK.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,1482.500000,1482.800049,1481.900024,1481.900024,66910,1482.203060,58.000098,-0.151175,-0.194669
2025-07-30 09:56:00+00:00,1481.800049,1482.800049,1481.599976,1482.800049,50618,1482.164678,51.786298,-0.166712,-0.189078
2025-07-30 09:57:00+00:00,1481.199951,1482.599976,1481.099976,1481.699951,62916,1482.072800,44.067446,-0.224856,-0.196233
2025-07-30 09:58:00+00:00,1481.599976,1481.900024,1481.099976,1481.400024,31351,1482.027769,45.000509,-0.235937,-0.204174
2025-07-30 09:59:00+00:00,1482.400024,1482.400024,1480.099976,1481.699951,32333,1482.063222,44.068603,-0.178109,-0.198961

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,ICICIBANK.NS,ICICIBANK.NS,ICICIBANK.NS,ICICIBANK.NS,ICICIBANK.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,1482.500000,1482.800049,1481.900024,1481.900024,66910,1482.203060,58.000098,-0.151175,-0.194669,1483.729500,1482.024988,0.526046,1483.077081,1480.972895,0.971462
2025-07-30 09:56:00+00:00,1481.800049,1482.800049,1481.599976,1482.800049,50618,1482.164678,51.786298,-0.166712,-0.189078,1483.716024,1482.029993,0.523260,1483.076513,1480.983473,1.000035
2025-07-30 09:57:00+00:00,1481.199951,1482.599976,1481.099976,1481.699951,62916,1482.072800,44.067446,-0.224856,-0.196233,1483.695254,1482.009991,0.547640,1483.105271,1480.914712,1.050031
2025-07-30 09:58:00+00:00,1481.599976,1481.900024,1481.099976,1481.400024,31351,1482.027769,45.000509,-0.235937,-0.204174,1483.684563,1482.004993,0.551064,1483.107121,1480.902865,1.071463
2025-07-30 09:59:00+00:00,1482.400024,1482.400024,1480.099976,1481.699951,32333,1482.063222,44.068603,-0.178109,-0.198961,1483.674156,1482.064996,0.523436,1483.111867,1481.018125,1.150033

üíæ Saved ICICIBANK.NS_indicators.csv
BUY signal for ICICIBANK.NS at ‚Çπ1482.40
üìù Logged: ICICIBANK.NS | BUY | ‚Çπ1482.40

üîç Fetching: SBIN.NS
üîç Fetching data for SBIN.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ SBIN.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,SBIN.NS,SBIN.NS,SBIN.NS,SBIN.NS,SBIN.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,800.900024,801.150024,800.750000,800.950012,47957
2025-07-30 09:56:00+00:00,800.750000,801.000000,800.700012,800.950012,41026
2025-07-30 09:57:00+00:00,800.450012,800.849976,800.299988,800.849976,42254
2025-07-30 09:58:00+00:00,800.299988,800.700012,800.299988,800.450012,29572
2025-07-30 09:59:00+00:00,801.650024,801.650024,800.000000,800.349976,21397

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,SBIN.NS,SBIN.NS,SBIN.NS,SBIN.NS,SBIN.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,800.900024,801.150024,800.750000,800.950012,47957,801.404766,36.509474,-0.370707,-0.321415
2025-07-30 09:56:00+00:00,800.750000,801.000000,800.700012,800.950012,41026,801.342407,37.098140,-0.375980,-0.332328
2025-07-30 09:57:00+00:00,800.450012,800.849976,800.299988,800.849976,42254,801.257417,31.819275,-0.399757,-0.345814
2025-07-30 09:58:00+00:00,800.299988,800.700012,800.299988,800.450012,29572,801.166233,30.883699,-0.425798,-0.361810
2025-07-30 09:59:00+00:00,801.650024,801.650024,800.000000,800.349976,21397,801.212309,48.913361,-0.333653,-0.356179

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,SBIN.NS,SBIN.NS,SBIN.NS,SBIN.NS,SBIN.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,800.900024,801.150024,800.750000,800.950012,47957,801.404766,36.509474,-0.370707,-0.321415,800.913810,801.467499,0.531200,802.529899,800.405098,0.417860
2025-07-30 09:56:00+00:00,800.750000,801.000000,800.700012,800.950012,41026,801.342407,37.098140,-0.375980,-0.332328,800.913325,801.387500,0.511414,802.410328,800.364672,0.414285
2025-07-30 09:57:00+00:00,800.450012,800.849976,800.299988,800.849976,42254,801.257417,31.819275,-0.399757,-0.345814,800.911382,801.295001,0.504948,802.304897,800.285105,0.417855
2025-07-30 09:58:00+00:00,800.299988,800.700012,800.299988,800.450012,29572,801.166233,30.883699,-0.425798,-0.361810,800.909677,801.210001,0.522796,802.255593,800.164408,0.428571
2025-07-30 09:59:00+00:00,801.650024,801.650024,800.000000,800.349976,21397,801.212309,48.913361,-0.333653,-0.356179,800.910167,801.192502,0.500337,802.193175,800.191829,0.525003

üíæ Saved SBIN.NS_indicators.csv
HOLD signal for SBIN.NS at ‚Çπ801.65
üìù Logged: SBIN.NS | HOLD | ‚Çπ801.65

üîç Fetching: AXISBANK.NS
üîç Fetching data for AXISBANK.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ AXISBANK.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,1073.599976,1073.699951,1073.199951,1073.300049,23711
2025-07-30 09:56:00+00:00,1073.199951,1073.699951,1073.199951,1073.699951,19285
2025-07-30 09:57:00+00:00,1074.000000,1074.000000,1073.000000,1073.300049,18535
2025-07-30 09:58:00+00:00,1072.800049,1074.000000,1072.500000,1073.800049,18350
2025-07-30 09:59:00+00:00,1073.300049,1073.699951,1072.599976,1073.300049,8247064

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,1073.599976,1073.699951,1073.199951,1073.300049,23711,1073.274267,51.514591,0.088198,0.107589
2025-07-30 09:56:00+00:00,1073.199951,1073.699951,1073.199951,1073.699951,19285,1073.267189,48.570233,0.072276,0.100526
2025-07-30 09:57:00+00:00,1074.000000,1074.000000,1073.000000,1073.300049,18535,1073.336981,60.974666,0.122799,0.104981
2025-07-30 09:58:00+00:00,1072.800049,1074.000000,1072.500000,1073.800049,18350,1073.285844,42.858210,0.065261,0.097037
2025-07-30 09:59:00+00:00,1073.300049,1073.699951,1072.599976,1073.300049,8247064,1073.287197,50.981284,0.059323,0.089494

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS,AXISBANK.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,1073.599976,1073.699951,1073.199951,1073.300049,23711,1073.274267,51.514591,0.088198,0.107589,1072.043671,1073.289990,0.202359,1073.694709,1072.885272,0.371434
2025-07-30 09:56:00+00:00,1073.199951,1073.699951,1073.199951,1073.699951,19285,1073.267189,48.570233,0.072276,0.100526,1072.047153,1073.299988,0.191950,1073.683887,1072.916088,0.392866
2025-07-30 09:57:00+00:00,1074.000000,1074.000000,1073.000000,1073.300049,18535,1073.336981,60.974666,0.122799,0.104981,1072.051240,1073.349988,0.235089,1073.820167,1072.879809,0.435721
2025-07-30 09:58:00+00:00,1072.800049,1074.000000,1072.500000,1073.800049,18350,1073.285844,42.858210,0.065261,0.097037,1072.053853,1073.329993,0.263778,1073.857549,1072.802436,0.514291
2025-07-30 09:59:00+00:00,1073.300049,1073.699951,1072.599976,1073.300049,8247064,1073.287197,50.981284,0.059323,0.089494,1072.659354,1073.339996,0.258333,1073.856663,1072.823330,0.564287

üíæ Saved AXISBANK.NS_indicators.csv
HOLD signal for AXISBANK.NS at ‚Çπ1073.30
üìù Logged: AXISBANK.NS | HOLD | ‚Çπ1073.30

üîç Fetching: KOTAKBANK.NS
üîç Fetching data for KOTAKBANK.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ KOTAKBANK.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,KOTAKBANK.NS,KOTAKBANK.NS,KOTAKBANK.NS,KOTAKBANK.NS,KOTAKBANK.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,1960.099976,1960.500000,1959.099976,1959.500000,17370
2025-07-30 09:56:00+00:00,1959.800049,1960.199951,1958.699951,1960.199951,16453
2025-07-30 09:57:00+00:00,1959.400024,1959.800049,1958.300049,1959.800049,19712
2025-07-30 09:58:00+00:00,1959.400024,1959.400024,1958.000000,1959.400024,16745
2025-07-30 09:59:00+00:00,1959.699951,1959.800049,1958.199951,1959.000000,13721

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,KOTAKBANK.NS,KOTAKBANK.NS,KOTAKBANK.NS,KOTAKBANK.NS,KOTAKBANK.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,1960.099976,1960.500000,1959.099976,1959.500000,17370,1959.638649,54.807737,-0.540655,-0.690359
2025-07-30 09:56:00+00:00,1959.800049,1960.199951,1958.699951,1960.199951,16453,1959.654021,48.453959,-0.464107,-0.645108
2025-07-30 09:57:00+00:00,1959.400024,1959.800049,1958.300049,1959.800049,19712,1959.629830,44.897857,-0.430756,-0.602238
2025-07-30 09:58:00+00:00,1959.400024,1959.400024,1958.000000,1959.400024,16745,1959.607944,48.889130,-0.399717,-0.561734
2025-07-30 09:59:00+00:00,1959.699951,1959.800049,1958.199951,1959.000000,13721,1959.616707,61.039064,-0.346918,-0.518770

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,KOTAKBANK.NS,KOTAKBANK.NS,KOTAKBANK.NS,KOTAKBANK.NS,KOTAKBANK.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,1960.099976,1960.500000,1959.099976,1959.500000,17370,1959.638649,54.807737,-0.540655,-0.690359,1966.031688,1959.424994,0.811667,1961.048328,1957.801659,1.399972
2025-07-30 09:56:00+00:00,1959.800049,1960.199951,1958.699951,1960.199951,16453,1959.654021,48.453959,-0.464107,-0.645108,1966.000430,1959.369995,0.740616,1960.851227,1957.888763,1.392831
2025-07-30 09:57:00+00:00,1959.400024,1959.800049,1958.300049,1959.800049,19712,1959.629830,44.897857,-0.430756,-0.602238,1965.961073,1959.329999,0.714578,1960.759154,1957.900843,1.428545
2025-07-30 09:58:00+00:00,1959.400024,1959.400024,1958.000000,1959.400024,16745,1959.607944,48.889130,-0.399717,-0.561734,1965.926858,1959.290002,0.685101,1960.660204,1957.919801,1.457118
2025-07-30 09:59:00+00:00,1959.699951,1959.800049,1958.199951,1959.000000,13721,1959.616707,61.039064,-0.346918,-0.518770,1965.900262,1959.275000,0.671893,1960.618786,1957.931214,1.385699

üíæ Saved KOTAKBANK.NS_indicators.csv
HOLD signal for KOTAKBANK.NS at ‚Çπ1959.70
üìù Logged: KOTAKBANK.NS | HOLD | ‚Çπ1959.70

üîç Fetching: ITC.NS
üîç Fetching data for ITC.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ ITC.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,ITC.NS,ITC.NS,ITC.NS,ITC.NS,ITC.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,407.950012,408.000000,407.799988,407.899994,55014
2025-07-30 09:56:00+00:00,407.899994,408.000000,407.850006,407.950012,40149
2025-07-30 09:57:00+00:00,407.750000,407.799988,407.750000,407.799988,46286
2025-07-30 09:58:00+00:00,407.750000,407.899994,407.649994,407.700012,68199
2025-07-30 09:59:00+00:00,407.600006,407.950012,407.399994,407.700012,67941

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,ITC.NS,ITC.NS,ITC.NS,ITC.NS,ITC.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,407.950012,408.000000,407.799988,407.899994,55014,407.730947,78.947030,0.149203,0.126595
2025-07-30 09:56:00+00:00,407.899994,408.000000,407.850006,407.950012,40149,407.747047,74.998474,0.143557,0.129988
2025-07-30 09:57:00+00:00,407.750000,407.799988,407.750000,407.799988,46286,407.747328,57.894061,0.125532,0.129097
2025-07-30 09:58:00+00:00,407.750000,407.899994,407.649994,407.700012,68199,407.747582,52.940332,0.109979,0.125273
2025-07-30 09:59:00+00:00,407.600006,407.950012,407.399994,407.700012,67941,407.733528,44.999847,0.084576,0.117134

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,ITC.NS,ITC.NS,ITC.NS,ITC.NS,ITC.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,407.950012,408.000000,407.799988,407.899994,55014,407.730947,78.947030,0.149203,0.126595,407.380836,407.687505,0.247556,408.182617,407.192392,0.139289
2025-07-30 09:56:00+00:00,407.899994,408.000000,407.850006,407.950012,40149,407.747047,74.998474,0.143557,0.129988,407.382949,407.715004,0.238473,408.191951,407.238057,0.142859
2025-07-30 09:57:00+00:00,407.750000,407.799988,407.750000,407.799988,46286,407.747328,57.894061,0.125532,0.129097,407.384685,407.730003,0.230220,408.190444,407.269563,0.121429
2025-07-30 09:58:00+00:00,407.750000,407.899994,407.649994,407.700012,68199,407.747582,52.940332,0.109979,0.125273,407.387216,407.750003,0.212136,408.174274,407.325732,0.132143
2025-07-30 09:59:00+00:00,407.600006,407.950012,407.399994,407.700012,67941,407.733528,44.999847,0.084576,0.117134,407.388938,407.760004,0.199080,408.158163,407.361845,0.164289

üíæ Saved ITC.NS_indicators.csv
HOLD signal for ITC.NS at ‚Çπ407.60
üìù Logged: ITC.NS | HOLD | ‚Çπ407.60

üîç Fetching: HINDUNILVR.NS
üîç Fetching data for HINDUNILVR.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ HINDUNILVR.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,2437.600098,2438.399902,2436.899902,2436.899902,9273
2025-07-30 09:56:00+00:00,2436.600098,2438.399902,2436.100098,2438.000000,8356
2025-07-30 09:57:00+00:00,2430.899902,2437.300049,2430.399902,2436.600098,5665
2025-07-30 09:58:00+00:00,2435.000000,2435.000000,2429.100098,2430.500000,6517
2025-07-30 09:59:00+00:00,2437.399902,2437.399902,2431.300049,2434.199951,1590

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,2437.600098,2438.399902,2436.899902,2436.899902,9273,2438.213411,29.671362,-0.490317,-0.494991
2025-07-30 09:56:00+00:00,2436.600098,2438.399902,2436.100098,2438.000000,8356,2438.059762,30.683016,-0.561941,-0.508381
2025-07-30 09:57:00+00:00,2430.899902,2437.300049,2430.399902,2436.600098,5665,2437.377871,19.565871,-1.066369,-0.619979
2025-07-30 09:58:00+00:00,2435.000000,2435.000000,2429.100098,2430.500000,6517,2437.151407,38.418251,-1.122351,-0.720453
2025-07-30 09:59:00+00:00,2437.399902,2437.399902,2431.300049,2434.199951,1590,2437.175073,41.711272,-0.961975,-0.768758

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,HINDUNILVR.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,2437.600098,2438.399902,2436.899902,2436.899902,9273,2438.213411,29.671362,-0.490317,-0.494991,2430.570093,2438.100024,1.378410,2440.856845,2435.343203,1.621460
2025-07-30 09:56:00+00:00,2436.600098,2438.399902,2436.100098,2438.000000,8356,2438.059762,30.683016,-0.561941,-0.508381,2430.621038,2438.150024,1.298794,2440.747612,2435.552437,1.600010
2025-07-30 09:57:00+00:00,2430.899902,2437.300049,2430.399902,2436.600098,5665,2437.377871,19.565871,-1.066369,-0.619979,2430.632974,2437.835022,2.073994,2441.983009,2433.687035,2.007167
2025-07-30 09:58:00+00:00,2435.000000,2435.000000,2429.100098,2430.500000,6517,2437.151407,38.418251,-1.122351,-0.720453,2430.647563,2437.765027,2.147304,2442.059634,2433.470420,2.378592
2025-07-30 09:59:00+00:00,2437.399902,2437.399902,2431.300049,2434.199951,1590,2437.175073,41.711272,-0.961975,-0.768758,2430.654550,2437.795020,2.137282,2442.069583,2433.520456,2.692871

üíæ Saved HINDUNILVR.NS_indicators.csv
HOLD signal for HINDUNILVR.NS at ‚Çπ2437.40
üìù Logged: HINDUNILVR.NS | HOLD | ‚Çπ2437.40

üîç Fetching: LT.NS
üîç Fetching data for LT.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ LT.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,LT.NS,LT.NS,LT.NS,LT.NS,LT.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,3657.100098,3660.000000,3656.699951,3658.199951,26950
2025-07-30 09:56:00+00:00,3657.100098,3659.800049,3656.800049,3657.199951,15336
2025-07-30 09:57:00+00:00,3656.300049,3658.500000,3656.000000,3656.199951,19153
2025-07-30 09:58:00+00:00,3657.000000,3657.000000,3655.500000,3656.600098,8030
2025-07-30 09:59:00+00:00,3665.100098,3665.100098,3655.100098,3656.000000,7517

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,LT.NS,LT.NS,LT.NS,LT.NS,LT.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,3657.100098,3660.000000,3656.699951,3658.199951,26950,3663.959401,27.027086,-2.343875,-1.340024
2025-07-30 09:56:00+00:00,3657.100098,3659.800049,3656.800049,3657.199951,15336,3663.306134,27.149501,-2.590328,-1.590085
2025-07-30 09:57:00+00:00,3656.300049,3658.500000,3656.000000,3656.199951,19153,3662.638888,16.748449,-2.817720,-1.835612
2025-07-30 09:58:00+00:00,3657.000000,3657.000000,3655.500000,3656.600098,8030,3662.101851,21.578454,-2.907929,-2.050076
2025-07-30 09:59:00+00:00,3665.100098,3665.100098,3655.100098,3656.000000,7517,3662.387398,46.565220,-2.299305,-2.099921

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,LT.NS,LT.NS,LT.NS,LT.NS,LT.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,3657.100098,3660.000000,3656.699951,3658.199951,26950,3663.959401,27.027086,-2.343875,-1.340024,3652.126734,3665.160010,3.748582,3672.657173,3657.662846,2.907139
2025-07-30 09:56:00+00:00,3657.100098,3659.800049,3656.800049,3657.199951,15336,3663.306134,27.149501,-2.590328,-1.590085,3652.139724,3664.530017,3.996042,3672.522102,3656.537932,2.971418
2025-07-30 09:57:00+00:00,3656.300049,3658.500000,3656.000000,3656.199951,19153,3662.638888,16.748449,-2.817720,-1.835612,3652.153156,3663.930017,4.290246,3672.510509,3655.349525,2.964268
2025-07-30 09:58:00+00:00,3657.000000,3657.000000,3655.500000,3656.600098,8030,3662.101851,21.578454,-2.907929,-2.050076,3652.158257,3663.430017,4.491620,3672.413257,3654.446777,2.757115
2025-07-30 09:59:00+00:00,3665.100098,3665.100098,3655.100098,3656.000000,7517,3662.387398,46.565220,-2.299305,-2.099921,3652.168799,3663.395020,4.474877,3672.344773,3654.445266,3.271415

üíæ Saved LT.NS_indicators.csv
HOLD signal for LT.NS at ‚Çπ3665.10
üìù Logged: LT.NS | HOLD | ‚Çπ3665.10

üîç Fetching: BAJFINANCE.NS
üîç Fetching data for BAJFINANCE.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ BAJFINANCE.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,BAJFINANCE.NS,BAJFINANCE.NS,BAJFINANCE.NS,BAJFINANCE.NS,BAJFINANCE.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,883.799988,884.450012,883.700012,884.299988,21252
2025-07-30 09:56:00+00:00,884.000000,884.150024,883.500000,883.750000,25612
2025-07-30 09:57:00+00:00,884.500000,884.500000,883.650024,884.000000,22497
2025-07-30 09:58:00+00:00,883.950012,884.950012,883.299988,884.650024,17992
2025-07-30 09:59:00+00:00,884.099976,884.349976,882.900024,883.950012,15123

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,BAJFINANCE.NS,BAJFINANCE.NS,BAJFINANCE.NS,BAJFINANCE.NS,BAJFINANCE.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,883.799988,884.450012,883.700012,884.299988,21252,884.633634,28.420904,-0.082020,0.107602
2025-07-30 09:56:00+00:00,884.000000,884.150024,883.500000,883.750000,25612,884.573288,31.958672,-0.118496,0.062382
2025-07-30 09:57:00+00:00,884.500000,884.500000,883.650024,884.000000,22497,884.566308,30.526573,-0.105838,0.028738
2025-07-30 09:58:00+00:00,883.950012,884.950012,883.299988,884.650024,17992,884.507613,29.293104,-0.138588,-0.004727
2025-07-30 09:59:00+00:00,884.099976,884.349976,882.900024,883.950012,15123,884.468791,32.652807,-0.150705,-0.033923

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,BAJFINANCE.NS,BAJFINANCE.NS,BAJFINANCE.NS,BAJFINANCE.NS,BAJFINANCE.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,883.799988,884.450012,883.700012,884.299988,21252,884.633634,28.420904,-0.082020,0.107602,882.518463,885.012497,0.730332,886.473162,883.551832,0.671439
2025-07-30 09:56:00+00:00,884.000000,884.150024,883.500000,883.750000,25612,884.573288,31.958672,-0.118496,0.062382,882.526470,884.967496,0.764554,886.496604,883.438387,0.667868
2025-07-30 09:57:00+00:00,884.500000,884.500000,883.650024,884.000000,22497,884.566308,30.526573,-0.105838,0.028738,882.535136,884.919995,0.762507,886.445009,883.394981,0.678585
2025-07-30 09:58:00+00:00,883.950012,884.950012,883.299988,884.650024,17992,884.507613,29.293104,-0.138588,-0.004727,882.541390,884.854996,0.787882,886.430759,883.279233,0.753588
2025-07-30 09:59:00+00:00,884.099976,884.349976,882.900024,883.950012,15123,884.468791,32.652807,-0.150705,-0.033923,882.545638,884.809995,0.804687,886.419369,883.200620,0.825012

üíæ Saved BAJFINANCE.NS_indicators.csv
HOLD signal for BAJFINANCE.NS at ‚Çπ884.10
üìù Logged: BAJFINANCE.NS | HOLD | ‚Çπ884.10

üîç Fetching: ADANIENT.NS
üîç Fetching data for ADANIENT.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ ADANIENT.NS data shape: (374, 5)

Price,Close,High,Low,Open,Volume
Ticker,ADANIENT.NS,ADANIENT.NS,ADANIENT.NS,ADANIENT.NS,ADANIENT.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,2529.000000,2530.000000,2528.800049,2529.100098,2009
2025-07-30 09:56:00+00:00,2529.000000,2530.000000,2529.000000,2529.000000,1435
2025-07-30 09:57:00+00:00,2529.500000,2530.000000,2528.000000,2529.500000,1691
2025-07-30 09:58:00+00:00,2528.000000,2530.000000,2528.000000,2530.000000,1394
2025-07-30 09:59:00+00:00,2532.899902,2532.899902,2525.199951,2532.899902,261673

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,ADANIENT.NS,ADANIENT.NS,ADANIENT.NS,ADANIENT.NS,ADANIENT.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,2529.000000,2530.000000,2528.800049,2529.100098,2009,2532.319059,26.026756,-2.446696,-2.248106
2025-07-30 09:56:00+00:00,2529.000000,2530.000000,2529.000000,2529.000000,1435,2532.002958,24.999576,-2.409568,-2.280399
2025-07-30 09:57:00+00:00,2529.500000,2530.000000,2528.000000,2529.500000,1691,2531.764581,28.471881,-2.313133,-2.286945
2025-07-30 09:58:00+00:00,2528.000000,2530.000000,2528.000000,2530.000000,1394,2531.406050,31.060186,-2.330876,-2.295732
2025-07-30 09:59:00+00:00,2532.899902,2532.899902,2525.199951,2532.899902,261673,2531.548321,56.250191,-1.927340,-2.222053

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,ADANIENT.NS,ADANIENT.NS,ADANIENT.NS,ADANIENT.NS,ADANIENT.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,2529.000000,2530.000000,2528.800049,2529.100098,2009,2532.319059,26.026756,-2.446696,-2.248106,2540.726324,2533.009985,3.499141,2540.008268,2526.011703,2.221418
2025-07-30 09:56:00+00:00,2529.000000,2530.000000,2529.000000,2529.000000,1435,2532.002958,24.999576,-2.409568,-2.280399,2540.651345,2532.534985,3.356557,2539.248099,2525.821872,2.207136
2025-07-30 09:57:00+00:00,2529.500000,2530.000000,2528.000000,2529.500000,1691,2531.764581,28.471881,-2.313133,-2.286945,2540.562965,2532.089990,3.119687,2538.329364,2525.850616,2.264282
2025-07-30 09:58:00+00:00,2528.000000,2530.000000,2528.000000,2530.000000,1394,2531.406050,31.060186,-2.330876,-2.295732,2540.487973,2531.669995,3.074010,2537.818016,2525.521975,2.085711
2025-07-30 09:59:00+00:00,2532.899902,2532.899902,2525.199951,2532.899902,261673,2531.548321,56.250191,-1.927340,-2.222053,2534.984291,2531.449988,2.794622,2537.039232,2525.860744,2.385707

üíæ Saved ADANIENT.NS_indicators.csv
HOLD signal for ADANIENT.NS at ‚Çπ2532.90
üìù Logged: ADANIENT.NS | HOLD | ‚Çπ2532.90

üîç Fetching: ADANIGREEN.NS
üîç Fetching data for ADANIGREEN.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ ADANIGREEN.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,ADANIGREEN.NS,ADANIGREEN.NS,ADANIGREEN.NS,ADANIGREEN.NS,ADANIGREEN.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,1008.799988,1009.500000,1008.700012,1008.700012,3667
2025-07-30 09:56:00+00:00,1008.799988,1009.200012,1008.500000,1009.200012,2855
2025-07-30 09:57:00+00:00,1008.500000,1008.799988,1008.500000,1008.799988,3915
2025-07-30 09:58:00+00:00,1008.500000,1008.900024,1008.000000,1008.400024,6899
2025-07-30 09:59:00+00:00,1007.500000,1009.000000,1007.000000,1008.000000,10735

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,ADANIGREEN.NS,ADANIGREEN.NS,ADANIGREEN.NS,ADANIGREEN.NS,ADANIGREEN.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,1008.799988,1009.500000,1008.700012,1008.700012,3667,1010.278523,26.922806,-1.089961,-1.106565
2025-07-30 09:56:00+00:00,1008.799988,1009.200012,1008.500000,1009.200012,2855,1010.137711,29.999913,-1.075147,-1.100281
2025-07-30 09:57:00+00:00,1008.500000,1008.799988,1008.500000,1008.799988,3915,1009.981738,29.577223,-1.075219,-1.095269
2025-07-30 09:58:00+00:00,1008.500000,1008.900024,1008.000000,1008.400024,6899,1009.840620,26.470456,-1.063022,-1.088819
2025-07-30 09:59:00+00:00,1007.500000,1009.000000,1007.000000,1008.000000,10735,1009.617704,30.508457,-1.121124,-1.095280

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,ADANIGREEN.NS,ADANIGREEN.NS,ADANIGREEN.NS,ADANIGREEN.NS,ADANIGREEN.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,1008.799988,1009.500000,1008.700012,1008.700012,3667,1010.278523,26.922806,-1.089961,-1.106565,1016.132605,1010.364996,1.489715,1013.344427,1007.385566,1.121438
2025-07-30 09:56:00+00:00,1008.799988,1009.200012,1008.500000,1009.200012,2855,1010.137711,29.999913,-1.075147,-1.100281,1016.113757,1010.204996,1.476657,1013.158309,1007.251682,1.114293
2025-07-30 09:57:00+00:00,1008.500000,1008.799988,1008.500000,1008.799988,3915,1009.981738,29.577223,-1.075219,-1.095269,1016.087247,1010.049997,1.485196,1013.020389,1007.079605,1.078578
2025-07-30 09:58:00+00:00,1008.500000,1008.900024,1008.000000,1008.400024,6899,1009.840620,26.470456,-1.063022,-1.088819,1016.040159,1009.879996,1.456604,1012.793204,1006.966787,1.035723
2025-07-30 09:59:00+00:00,1007.500000,1009.000000,1007.000000,1008.000000,10735,1009.617704,30.508457,-1.121124,-1.095280,1015.962003,1009.644995,1.441666,1012.528327,1006.761663,1.007150

üíæ Saved ADANIGREEN.NS_indicators.csv
HOLD signal for ADANIGREEN.NS at ‚Çπ1007.50
üìù Logged: ADANIGREEN.NS | HOLD | ‚Çπ1007.50

üîç Fetching: WIPRO.NS
üîç Fetching data for WIPRO.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ WIPRO.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,WIPRO.NS,WIPRO.NS,WIPRO.NS,WIPRO.NS,WIPRO.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,250.199997,250.250000,250.100006,250.199997,75961
2025-07-30 09:56:00+00:00,250.149994,250.250000,250.100006,250.199997,23478
2025-07-30 09:57:00+00:00,249.949997,250.199997,249.949997,250.149994,67933
2025-07-30 09:58:00+00:00,250.199997,250.250000,249.600006,250.000000,189357
2025-07-30 09:59:00+00:00,250.000000,250.500000,249.850006,250.000000,97352

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,WIPRO.NS,WIPRO.NS,WIPRO.NS,WIPRO.NS,WIPRO.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,250.199997,250.250000,250.100006,250.199997,75961,250.380002,37.499762,-0.084144,-0.073503
2025-07-30 09:56:00+00:00,250.149994,250.250000,250.100006,250.199997,23478,250.358097,37.499046,-0.092216,-0.077246
2025-07-30 09:57:00+00:00,249.949997,250.199997,249.949997,250.149994,67933,250.319230,22.222034,-0.113444,-0.084485
2025-07-30 09:58:00+00:00,250.199997,250.250000,249.600006,250.000000,189357,250.307875,39.130377,-0.108840,-0.089356
2025-07-30 09:59:00+00:00,250.000000,250.500000,249.850006,250.000000,97352,250.278553,35.999756,-0.119946,-0.095474

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,WIPRO.NS,WIPRO.NS,WIPRO.NS,WIPRO.NS,WIPRO.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,250.199997,250.250000,250.100006,250.199997,75961,250.380002,37.499762,-0.084144,-0.073503,250.508816,250.380000,0.087958,250.555916,250.204083,0.124995
2025-07-30 09:56:00+00:00,250.149994,250.250000,250.100006,250.199997,23478,250.358097,37.499046,-0.092216,-0.077246,250.507212,250.364999,0.100131,250.565262,250.164737,0.132138
2025-07-30 09:57:00+00:00,249.949997,250.199997,249.949997,250.149994,67933,250.319230,22.222034,-0.113444,-0.084485,250.500872,250.339999,0.134360,250.608720,250.071279,0.142853
2025-07-30 09:58:00+00:00,250.199997,250.250000,249.600006,250.000000,189357,250.307875,39.130377,-0.108840,-0.089356,250.483463,250.327499,0.135215,250.597929,250.057070,0.182139
2025-07-30 09:59:00+00:00,250.000000,250.500000,249.850006,250.000000,97352,250.278553,35.999756,-0.119946,-0.095474,250.476806,250.302499,0.147323,250.597145,250.007854,0.221425

üíæ Saved WIPRO.NS_indicators.csv
HOLD signal for WIPRO.NS at ‚Çπ250.00
üìù Logged: WIPRO.NS | HOLD | ‚Çπ250.00

üîç Fetching: POWERGRID.NS
üîç Fetching data for POWERGRID.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ POWERGRID.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,290.049988,290.149994,290.000000,290.149994,55133
2025-07-30 09:56:00+00:00,290.049988,290.049988,290.000000,290.049988,248153
2025-07-30 09:57:00+00:00,290.049988,290.100006,289.950012,290.000000,102895
2025-07-30 09:58:00+00:00,289.799988,290.049988,289.700012,290.049988,86129
2025-07-30 09:59:00+00:00,288.950012,290.149994,288.950012,288.950012,10515508

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,290.049988,290.149994,290.000000,290.149994,55133,290.082225,48.935756,-0.211337,-0.410907
2025-07-30 09:56:00+00:00,290.049988,290.049988,290.000000,290.049988,248153,290.079155,50.000000,-0.195055,-0.367736
2025-07-30 09:57:00+00:00,290.049988,290.100006,289.950012,290.000000,102895,290.076377,56.097779,-0.180075,-0.330204
2025-07-30 09:58:00+00:00,289.799988,290.049988,289.700012,290.049988,86129,290.050054,62.162028,-0.186229,-0.301409
2025-07-30 09:59:00+00:00,288.950012,290.149994,288.950012,288.950012,10515508,289.945288,34.041973,-0.256733,-0.292474

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,POWERGRID.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,290.049988,290.149994,290.000000,290.149994,55133,290.082225,48.935756,-0.211337,-0.410907,291.844090,289.835001,0.497118,290.829237,288.840764,0.342848
2025-07-30 09:56:00+00:00,290.049988,290.049988,290.000000,290.049988,248153,290.079155,50.000000,-0.195055,-0.367736,291.799195,289.907500,0.404663,290.716826,289.098173,0.328561
2025-07-30 09:57:00+00:00,290.049988,290.100006,289.950012,290.000000,102895,290.076377,56.097779,-0.180075,-0.330204,291.781226,289.974998,0.288595,290.552187,289.397809,0.267846
2025-07-30 09:58:00+00:00,289.799988,290.049988,289.700012,290.049988,86129,290.050054,62.162028,-0.186229,-0.301409,291.764915,290.004997,0.228781,290.462560,289.547435,0.232132
2025-07-30 09:59:00+00:00,288.950012,290.149994,288.950012,288.950012,10515508,289.945288,34.041973,-0.256733,-0.292474,290.538939,289.959998,0.327908,290.615813,289.304182,0.267846

üíæ Saved POWERGRID.NS_indicators.csv
BUY signal for POWERGRID.NS at ‚Çπ288.95
üìù Logged: POWERGRID.NS | BUY | ‚Çπ288.95

üîç Fetching: ONGC.NS
üîç Fetching data for ONGC.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ ONGC.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,ONGC.NS,ONGC.NS,ONGC.NS,ONGC.NS,ONGC.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,241.550003,241.630005,241.520004,241.559998,91578
2025-07-30 09:56:00+00:00,241.699997,241.740005,241.500000,241.500000,62040
2025-07-30 09:57:00+00:00,241.800003,241.830002,241.639999,241.690002,47972
2025-07-30 09:58:00+00:00,241.899994,242.000000,241.669998,241.940002,40872
2025-07-30 09:59:00+00:00,241.809998,241.809998,241.809998,241.809998,0

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,ONGC.NS,ONGC.NS,ONGC.NS,ONGC.NS,ONGC.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,241.550003,241.630005,241.520004,241.559998,91578,241.729244,32.051332,-0.144119,-0.141887
2025-07-30 09:56:00+00:00,241.699997,241.740005,241.500000,241.500000,62040,241.726458,38.372279,-0.128928,-0.139295
2025-07-30 09:57:00+00:00,241.800003,241.830002,241.639999,241.690002,47972,241.733463,46.237018,-0.107580,-0.132952
2025-07-30 09:58:00+00:00,241.899994,242.000000,241.669998,241.940002,40872,241.749323,56.382702,-0.081651,-0.122692
2025-07-30 09:59:00+00:00,241.809998,241.809998,241.809998,241.809998,0,241.755101,52.475412,-0.067586,-0.111671

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,ONGC.NS,ONGC.NS,ONGC.NS,ONGC.NS,ONGC.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,241.550003,241.630005,241.520004,241.559998,91578,241.729244,32.051332,-0.144119,-0.141887,242.007581,241.7450,0.171355,242.087710,241.402289,0.115716
2025-07-30 09:56:00+00:00,241.699997,241.740005,241.500000,241.500000,62040,241.726458,38.372279,-0.128928,-0.139295,242.004876,241.7300,0.160655,242.051310,241.408689,0.123573
2025-07-30 09:57:00+00:00,241.800003,241.830002,241.639999,241.690002,47972,241.733463,46.237018,-0.107580,-0.132952,242.003446,241.7180,0.144425,242.006851,241.429149,0.130717
2025-07-30 09:58:00+00:00,241.899994,242.000000,241.669998,241.940002,40872,241.749323,56.382702,-0.081651,-0.122692,242.002729,241.7120,0.133281,241.978561,241.445438,0.138574
2025-07-30 09:59:00+00:00,241.809998,241.809998,241.809998,241.809998,0,241.755101,52.475412,-0.067586,-0.111671,242.002729,241.7075,0.128015,241.963529,241.451470,0.137145

üíæ Saved ONGC.NS_indicators.csv
HOLD signal for ONGC.NS at ‚Çπ241.81
üìù Logged: ONGC.NS | HOLD | ‚Çπ241.81

üîç Fetching: ULTRACEMCO.NS
üîç Fetching data for ULTRACEMCO.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ ULTRACEMCO.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,ULTRACEMCO.NS,ULTRACEMCO.NS,ULTRACEMCO.NS,ULTRACEMCO.NS,ULTRACEMCO.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,12277.0,12277.0,12269.0,12274.0,1043
2025-07-30 09:56:00+00:00,12275.0,12277.0,12267.0,12277.0,934
2025-07-30 09:57:00+00:00,12285.0,12288.0,12266.0,12275.0,1422
2025-07-30 09:58:00+00:00,12266.0,12284.0,12266.0,12280.0,508
2025-07-30 09:59:00+00:00,12268.0,12271.0,12251.0,12251.0,325

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,ULTRACEMCO.NS,ULTRACEMCO.NS,ULTRACEMCO.NS,ULTRACEMCO.NS,ULTRACEMCO.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,12277.0,12277.0,12269.0,12274.0,1043,12268.787744,60.000000,3.413248,2.830805
2025-07-30 09:56:00+00:00,12275.0,12277.0,12267.0,12277.0,934,12269.379387,58.064516,3.479956,2.960635
2025-07-30 09:57:00+00:00,12285.0,12288.0,12266.0,12275.0,1422,12270.867065,68.292683,4.290284,3.226565
2025-07-30 09:58:00+00:00,12266.0,12284.0,12266.0,12280.0,508,12270.403535,45.762712,3.360595,3.253371
2025-07-30 09:59:00+00:00,12268.0,12271.0,12251.0,12251.0,325,12270.174627,48.333333,2.753452,3.153387

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,ULTRACEMCO.NS,ULTRACEMCO.NS,ULTRACEMCO.NS,ULTRACEMCO.NS,ULTRACEMCO.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,12277.0,12277.0,12269.0,12274.0,1043,12268.787744,60.000000,3.413248,2.830805,12305.582956,12270.30,4.646447,12279.592895,12261.007105,3.714286
2025-07-30 09:56:00+00:00,12275.0,12277.0,12267.0,12277.0,934,12269.379387,58.064516,3.479956,2.960635,12305.409883,12270.85,4.510514,12279.871028,12261.828972,4.357143
2025-07-30 09:57:00+00:00,12285.0,12288.0,12266.0,12275.0,1422,12270.867065,68.292683,4.290284,3.226565,12305.203367,12271.85,5.294237,12282.438474,12261.261526,5.857143
2025-07-30 09:58:00+00:00,12266.0,12284.0,12266.0,12280.0,508,12270.403535,45.762712,3.360595,3.253371,12305.108483,12271.50,5.443490,12282.386979,12260.613021,7.142857
2025-07-30 09:59:00+00:00,12268.0,12271.0,12251.0,12251.0,325,12270.174627,48.333333,2.753452,3.153387,12305.032247,12270.90,5.108301,12281.116602,12260.683398,8.500000

üíæ Saved ULTRACEMCO.NS_indicators.csv
HOLD signal for ULTRACEMCO.NS at ‚Çπ12268.00
üìù Logged: ULTRACEMCO.NS | HOLD | ‚Çπ12268.00

üîç Fetching: ASIANPAINT.NS
üîç Fetching data for ASIANPAINT.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ ASIANPAINT.NS data shape: (375, 5)

Price,Close,High,Low,Open,Volume
Ticker,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS
Datetime,,,,,
2025-07-30 09:55:00+00:00,2413.300049,2413.300049,2411.899902,2412.600098,11733
2025-07-30 09:56:00+00:00,2413.000000,2413.000000,2412.300049,2412.300049,3077
2025-07-30 09:57:00+00:00,2412.399902,2414.600098,2412.399902,2412.899902,3338
2025-07-30 09:58:00+00:00,2412.199951,2413.300049,2412.000000,2412.399902,2337
2025-07-30 09:59:00+00:00,2411.000000,2412.300049,2411.000000,2412.199951,3118

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,2413.300049,2413.300049,2411.899902,2412.600098,11733,2415.476057,16.868639,-0.768600,-0.130360
2025-07-30 09:56:00+00:00,2413.000000,2413.000000,2412.300049,2412.300049,3077,2415.240242,16.868639,-0.860331,-0.276354
2025-07-30 09:57:00+00:00,2412.399902,2414.600098,2412.399902,2412.899902,3338,2414.969734,9.638802,-0.970267,-0.415137
2025-07-30 09:58:00+00:00,2412.199951,2413.300049,2412.000000,2412.399902,2337,2414.705945,9.639086,-1.061292,-0.544368
2025-07-30 09:59:00+00:00,2411.000000,2412.300049,2411.000000,2412.199951,3118,2414.352998,9.877027,-1.216236,-0.678741

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,2413.300049,2413.300049,2411.899902,2412.600098,11733,2415.476057,16.868639,-0.768600,-0.130360,2423.142714,2416.425012,2.158903,2420.742819,2412.107206,1.249983
2025-07-30 09:56:00+00:00,2413.000000,2413.000000,2412.300049,2412.300049,3077,2415.240242,16.868639,-0.860331,-0.276354,2423.119780,2416.235010,2.287546,2420.810101,2411.659918,1.242850
2025-07-30 09:57:00+00:00,2412.399902,2414.600098,2412.399902,2412.899902,3338,2414.969734,9.638802,-0.970267,-0.415137,2423.095892,2416.045007,2.443135,2420.931277,2411.158738,1.357143
2025-07-30 09:58:00+00:00,2412.199951,2413.300049,2412.000000,2412.399902,2337,2414.705945,9.639086,-1.061292,-0.544368,2423.078177,2415.785010,2.565007,2420.915024,2410.654995,1.357143
2025-07-30 09:59:00+00:00,2411.000000,2412.300049,2411.000000,2412.199951,3118,2414.352998,9.877027,-1.216236,-0.678741,2423.052259,2415.515015,2.772670,2421.060354,2409.969675,1.321446

üíæ Saved ASIANPAINT.NS_indicators.csv
HOLD signal for ASIANPAINT.NS at ‚Çπ2411.00
üìù Logged: ASIANPAINT.NS | HOLD | ‚Çπ2411.00

üîç Fetching: MARUTI.NS
üîç Fetching data for MARUTI.NS...

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])
C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\2642469662.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(tickers=ticker, period="1d", interval="1m", progress=False)

‚úÖ MARUTI.NS data shape: (375, 5)

Price                         Close      High       Low      Open    Volume
Ticker                    MARUTI.NS MARUTI.NS MARUTI.NS MARUTI.NS MARUTI.NS
Datetime
2025-07-30 09:55:00+00:00   12619.0   12624.0   12618.0   12624.0       876
2025-07-30 09:56:00+00:00   12610.0   12621.0   12610.0   12620.0       657
2025-07-30 09:57:00+00:00   12609.0   12615.0   12606.0   12615.0       559
2025-07-30 09:58:00+00:00   12595.0   12616.0   12595.0   12616.0       651
2025-07-30 09:59:00+00:00   12612.0   12612.0   12586.0   12598.0       254

üìä Basic indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal
Ticker,MARUTI.NS,MARUTI.NS,MARUTI.NS,MARUTI.NS,MARUTI.NS,,,,
Datetime,,,,,,,,,
2025-07-30 09:55:00+00:00,12619.0,12624.0,12618.0,12624.0,876,12617.191921,47.058824,2.877244,3.394215
2025-07-30 09:56:00+00:00,12610.0,12621.0,12610.0,12620.0,657,12616.506976,35.714286,1.972468,3.109865
2025-07-30 09:57:00+00:00,12609.0,12615.0,12606.0,12615.0,559,12615.792026,35.714286,1.161348,2.720162
2025-07-30 09:58:00+00:00,12595.0,12616.0,12595.0,12616.0,651,12613.811833,28.846154,-0.604189,2.055292
2025-07-30 09:59:00+00:00,12612.0,12612.0,12586.0,12598.0,254,12613.639277,49.230769,-0.624434,1.519346

üî¨ Advanced indicators added.

Price,Close,High,Low,Open,Volume,EMA_20,RSI,MACD,MACD_signal,VWAP,BB_MID,BB_STD,BB_UPPER,BB_LOWER,ATR
Ticker,MARUTI.NS,MARUTI.NS,MARUTI.NS,MARUTI.NS,MARUTI.NS,,,,,,,,,,
Datetime,,,,,,,,,,,,,,,
2025-07-30 09:55:00+00:00,12619.0,12624.0,12618.0,12624.0,876,12617.191921,47.058824,2.877244,3.394215,12581.521445,12618.35,2.739093,12623.828186,12612.871814,6.142857
2025-07-30 09:56:00+00:00,12610.0,12621.0,12610.0,12620.0,657,12616.506976,35.714286,1.972468,3.109865,12581.632000,12617.90,3.307090,12624.514179,12611.285821,6.428571
2025-07-30 09:57:00+00:00,12609.0,12615.0,12606.0,12615.0,559,12615.792026,35.714286,1.161348,2.720162,12581.714770,12617.60,3.816860,12625.233720,12609.966280,6.642857
2025-07-30 09:58:00+00:00,12595.0,12616.0,12595.0,12616.0,651,12613.811833,28.846154,-0.604189,2.055292,12581.783463,12616.35,6.285112,12628.920224,12603.779776,7.714286
2025-07-30 09:59:00+00:00,12612.0,12612.0,12586.0,12598.0,254,12613.639277,49.230769,-0.624434,1.519346,12581.811899,12616.05,6.345118,12628.740237,12603.359763,9.214286

üíæ Saved MARUTI.NS_indicators.csv
HOLD signal for MARUTI.NS at ‚Çπ12612.00
üìù Logged: MARUTI.NS | HOLD | ‚Çπ12612.00

C:\Users\Sangharsh\AppData\Local\Temp\ipykernel_21720\3227616758.py:12: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  price = float(last["Close"].iloc[0])

True